template(name="map")
  +contentWrapper
    .view.view-main
      .pages
        .page.navbar-fixed.toolbar-fixed(data-page="index")
          //- +navbar title="Google Map" leftIcon="icon-back" rightIcon=""
          .navbar
            .navbar-inner
              .left
                a.link.open-panel(href='#')
                  i.icon.icon-bars
              .center Google map
              .right
          .page-content.hide-bars-on-scroll
              .map-container(style="height: 100%; width: 100%;")
                +googleMap name="map" options=mapOptions
