template(name="buttons")
  .view
    .page.navbar-fixed
      .page-content
        p
          a.button(href="#") Usual Button 1
        p
          a.button(href="#") Usual Button 2
        p
          a.button(href="#") Usual Button 3
