template(name='cards')
  .view.start-view
    .page.navbar-fixed
      .navbar
        .navbar-inner
          .left
            a.link.open-panel(href='#')
              i.icon.icon-bars
          .center Cards
      .page-content
        .card
          .card-header
            | Header
          .card-content
            .card-content-inner
              | Content
          .card-footer
              | Footer
