template(name='contactDetail')
  .view.start-view
    .page.navbar-fixed
      .navbar
        .navbar-inner
          .left
            a.link.back(href='/contacts')
              i.icon.icon-back
          .center Contact Detail
      .page-content
        .content-block
            p Here comes paragraph within content block. Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis.
        .content-block
          .content-block-inner
            p Here comes paragraph within content block. Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis.
        .content-block-title
          | Here we have great title
        .content-block
          .content-block-inner
            p Here comes paragraph within content block. Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis.
        .content-block-title INSET
        .content-block.inset
          .content-block-inner
            p Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis.

        
