//- For Transitioner
template(name='contentWrapper')
  .frt-fixed-content-wrapper
    +UI.contentBlock
    
template(name='start')
  .view.start-view
    .page.navbar-fixed
      .navbar
        .navbar-inner
          .left
            a.link.open-panel(href='#')
              i.icon.icon-bars
          .center Meteor + F7
          .right
      .page-content
        +smartSelect
        +others
        
template(name='smartSelect')
  .content-block-title Popovers
  .content-block
    p
      a.open-popover(href='#' data-popover='.popover-about')
        | Text /
      a.open-popover(href='#' data-popover='.popover-links')
        | Links
  .content-block-title Smart Select
  .list-block
    ul
      li
        a.item-link.smart-select(href='#' data-searchbar='true' data-open-in='picker' data-searchbar-placeholder="Search City" data-back-text='Close')
          select(name='cities')
            option(value='dortmund' selected) Dortmund
            option(value='amsterdam') Amsterdam
            option(value='newyork') New York
            option(value='london') London
          .item-content
            .item-inner
              .item-title Place (picker)
              .item-after Dortmund
      li
        a.item-link.smart-select(href='#' data-searchbar='true' data-open-in='popup' data-searchbar-placeholder="Search Fruites" data-back-text='Okay')
          select(name='cities')
            option(value='dortmund' selected) Apple
            option(value='banana') Banana
            option(value='blueberry') Blueberry
            option(value='cherry') Cherry
            option(value='date') Date
            option(value='orange') Orange
          .item-content
            .item-inner
              .item-title Fruit (popup)
              .item-after Apple
      li
        a.item-link.smart-select(href="#")
          select(name="car")
            option(value="mercedes") Mercedes
            option(value="bmw") BMW
            option(value="volvo") Volvo
            option(value="vw" selected) Volkswagen
            option(value="toyota") Toyota
            option(value="cadillac") Cadillac
            option(value="nissan") Nissan
            option(value="mazda") Mazda
            option(value="ford") Ford
            option(value="chrysler") Chrysler
            option(value="dodge") Dodge
          .item-content
            .item-inner
              .item-title Car (todo)

template(name='others')
  .content-block-title Other Stuff
  .list-block
    ul
      li
        a.item-link(href='/contacts' data-back-text='Home')
          .item-content
            .item-inner
              .item-title Contacts (right-to-left)
  .content-block-title About
  .list-block
    ul
      li
        a.item-link(href='/about' data-back-text='Home')
          .item-content
            .item-inner
              .item-title Contribute to the Demo

template(name='popovers')
  .popover.popover-about
    .popover-angle
    .popover-inner
      .content-block
        p About
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.  
  .popover.popover-links
    .popover-angle
    .popover-inner
      .list-block
        ul
          li
            a.list-button.item-link(a href='#') Link 1
          li
            a.list-button.item-link(a href='#') Link 2
          li
            a.list-button.item-link(a href='#') Link 3
          li
            a.list-button.item-link(a href='#') Link 4
