template(name='start')
  .view.start-view
    .page.navbar-fixed
      .navbar
        .navbar-inner
          .left
            a.link.open-panel(href='#')
              i.icon.icon-bars
          .center Welcome
      .page-content
        .content-block
          p This is a little F7 demo with Meteor
        +smartSelect
        
template(name='smartSelect')
  .content-block-title This is smart select element
    a(href='/contacts') Contact Link
  .list-block
    ul
      li
        a.item-link.smart-select(href='#' data-searchbar='true' data-open-in='picker' data-searchbar-placeholder="Search City" data-back-text='Go Back')
          select(name='cities')
            option(value='dortmund' selected) Dortmund
            option(value='amsterdam') Amsterdam
            option(value='newyork') New York
            option(value='london') London
          .item-content
            .item-inner
              .item-title Where are you from?
              .item-after Dortmund
      li
        a.item-link.smart-select(href="#")
          select(name="car")
            option(value="mercedes") Mercedes
            option(value="bmw") BMW
            option(value="volvo") Volvo
            option(value="vw" selected) Volkswagen
            option(value="toyota") Toyota
            option(value="cadillac") Cadillac
            option(value="nissan") Nissan
            option(value="mazda") Mazda
            option(value="ford") Ford
            option(value="chrysler") Chrysler
            option(value="dodge") Dodge
          .item-content
            .item-inner
              .item-title Car
