<template name="navbar">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
          <a href="#" class="back link">
              <i class="icon {{leftIcon}} icon-only"></i>
          </a>
      </div>
      <div class="center">{{title}}</div>
      <div class="right">
          <a href="#" class="link ">
              <i class="icon {{rightIcon}} icon-only"></i>
          </a>
      </div>
    </div>
    <!-- Sub navbar -->
    {{#if subnavbar }}
    <div class="subnavbar">
      <div class="buttons-row">
        <a href="#tab1" class="button tab-link active">Tab 1</a>
        <a href="#tab2" class="button tab-link">Tab 2</a>
        <a href="#tab3" class="button tab-link">Tab 3</a>
      </div>
    </div>
    {{/if}}
  </div>
</template>
