template(name="menu")
  .panel-overlay
  .panel.panel-left.panel-reveal
    .content-block
      .list-block
        ul
          li
            a.item-content.item-link(href="{{pathFor 'start'}}") 
              .item-media
                i.icon.icon-form-name
              .item-inner
                .item-title Home
          li
            a.item-content.item-link(href="{{pathFor 'contacts'}}") 
              .item-media
                i.icon.icon-form-tel
              .item-inner
                .item-title Contacts
          li
            a.item-content.item-link(href="{{pathFor 'swiper'}}") 
              .item-media
                i.icon.icon-form-url
              .item-inner
                .item-title Swiper
          li
            a.item-content.item-link(href="{{pathFor 'cards'}}") 
              .item-media
                i.icon.icon-form-email
              .item-inner
                .item-title Cards
      p
        a(href="{{pathFor 'static-layout'}}") Static Layout
      p
        a(href="{{pathFor 'fixed-layout'}}") Fixed Layout
      p
        a(href="{{pathFor 'test'}}") Testing 1
      p
        a(href="{{pathFor 'test2'}}") Testing 2
      p
        a(href="{{pathFor 'search'}}") Search           
      p
        a(href='#' class='close-panel') Close Panel
