template(name="menu")
  .panel-overlay
  .panel.panel-left.panel-reveal
    .content-block
      .list-block
        ul
          li
            a.item-content.item-link(href="/start")
              .item-media
                i.icon.icon-form-name
              .item-inner
                .item-title Home
          li
            a.item-content.item-link(href="/contacts")
              .item-media
                i.icon.icon-form-tel
              .item-inner
                .item-title Contacts
          li
            a.item-content.item-link(href="/swiper")
              .item-media
                i.icon.icon-form-url
              .item-inner
                .item-title Swiper
          li
            a.item-content.item-link(href="/cards")
              .item-media
                i.icon.icon-form-email
              .item-inner
                .item-title Cards
          li
            a.item-content.item-link(href="/notification")
              .item-media
                i.icon.icon-form-url
              .item-inner
                .item-title Notification
          li
            a.item-content.item-link(href="/map")
              .item-media
                i.icon.icon-form-url
              .item-inner
                .item-title Google Map
      p
        a(href="/static-layout") Static Layout
      p
        a(href="/fixed-layout") Fixed Layout
      p
        a(href="/test") Testing 1
      p
        a(href="/test2") Testing 2
      p
        a(href="/search") Search
      p
        a(href='#' class='close-panel') Close Panel
