template(name="menu")
  .panel-overlay
  .panel.panel-left.panel-reveal
    .content-block
      .list-block
        ul
          li
            a.item-content(href="{{pathFor 'start'}}") 
              .item-media
                i.icon.icon-form-name
              .item-inner
                .item-title.label Home
                  //- a(href="{{pathFor 'start'}}") Home
      p
        a(href="{{pathFor 'static-layout'}}") Static Layout
      p
        a(href="{{pathFor 'fixed-layout'}}") Fixed Layout
      p
        a(href="{{pathFor 'contacts'}}") Contacts
      p
        a(href="{{pathFor 'swiper'}}") Swiper
      p
        a(href="{{pathFor 'test'}}") Testing 1
      p
        a(href="{{pathFor 'test2'}}") Testing 2
      p
        a(href="{{pathFor 'search'}}") Search           
      p
        a(href='#' class='close-panel') Close Panel
