template(name="menu")
  .panel-overlay
  .panel.panel-left.panel-reveal
    .content-block
      p
        a(href="{{pathFor 'start'}}") Home
      p
        a(href="{{pathFor 'static-layout'}}") Static Layout
      p
        a(href="{{pathFor 'fixed-layout'}}") Fixed Layout                 
      p
        a(href="{{pathFor 'contacts'}}") Contacts
      p
        a(href="{{pathFor 'swiper'}}") Swiper
      p
        a(href='#' class='close-panel') Close Panel
