template(name="menu")
  .panel-overlay
  .panel.panel-left.panel-reveal
    .content-block
      .list-block
        ul
          li
            a.item-content.item-link(href="/")
              .item-media
                i.icon.icon-form-name
              .item-inner
                .item-title Home
          li
            a.item-content.item-link(href="/contacts")
              .item-media
                i.icon.icon-form-tel
              .item-inner
                .item-title Contacts
          li
            a.item-content.item-link(href="/swiper")
              .item-media
                i.icon.icon-form-url
              .item-inner
                .item-title Swiper
          li
            a.item-content.item-link(href="/cards")
              .item-media
                i.icon.icon-form-email
              .item-inner
                .item-title Cards
          li
            a.item-content.item-link(href="/notification")
              .item-media
                i.icon.icon-form-url
              .item-inner
                .item-title Notification
          li
            a.item-content.item-link(href="/map")
              .item-media
                i.icon.icon-form-url
              .item-inner
                .item-title Google Map
      p
        a(href="/login") Login
      p
        a(href="/buttons") Buttons
      p
        a(href="/intro") Intro
      p
        a(href="/static") Static Layout
      p
        a(href="/fixed") Fixed Layout
      p
        a(href="/test2") Pull To Load
      p
        a(href="/search") Search
      p
        a(href="/test") Misc
      p
        a(href='#' class='close-panel') Close Panel
